{% extends "layout.html" %}
{% load static %}
{% block title %}
    Register Team
{% endblock %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'css/register-team.css' %}">
{% endblock %}

{% block content %}
    <h1 class = "register-portal">Register Team Portal</h1>
    <div class="register">
        {% if error %}
            <h2 class = "error">{{error}}</h2>
        {% endif %}
        <form method= "POST">
            {% csrf_token %}
            <input type="text" name = "name" class = "name" placeholder= "Enter Name of your Team">
            <input type = "number" name = "count" class = "count" placeholder = "Enter the number of members of team">
            <input type="text" name = "teamid" class = "teamid" placeholder = "Enter Team ID">
            <button type = "submit" class= "login-button">Register</button>
        </form>
    </div>
{% endblock %}