{% extends "layout.html" %}
{% load static %}

{% block title %}
    User Registration
{% endblock %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
    <h1 class = "register-portal">User Registration</h1>
    <div class = "register">
        {% if error %}
            <h2 class ="error">{{error}}</h2>
        {% endif %}
        <form method= "POST">
            {% csrf_token %}
            <input type = "text" name = "name" class = "name" placeholder="Enter Name">
            <input type="text" name = "userid" class = "userid" placeholder="Enter User ID">
            <input type="password" name="password" class = "password" placeholder="Enter password">
    
            <button type = "submit" class= "auth-button register-button">Register</button>
        </form>
        <a href="/login" class="auth-button login-button">Login</a>
    </div>
{% endblock %}
